    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row head">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Павлентий</h1>
                        <p class="intro-text">Ремонт авто. Добротно. Дешево<br>+375 25 912 87 44</p>
                        <a href="#map" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>